@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 13px;
  }
}

.fluid-container {
    margin-top: 70px;
}

.fluid-container .row {
  margin-left: 0;
  margin-right: 0;
}

input#message_body {
    width: 150px;
    margin-bottom: 1em;
}
